@use '@popup/styles/buttons';
@use '@popup/styles/colors';

$_font-size:   22px;
$_font-weight: 200;

.button {
    @include buttons.button;

    background-color: colors.$light-grey;
    font-size:   $_font-size;
    font-weight: $_font-weight;

    white-space: nowrap;
    line-height: 1em;
    height: 1em;
    clear: both;
}

.content {
    float: left;
}

.value {
    float: right;
}
