@use '@popup/styles/buttons';
@use '@popup/styles/colors';

$_font-size:   22px;
$_font-weight: 200;

.button {
    @include buttons.button;

    background-color: colors.$light-grey;
    font-size:   $_font-size;
    font-weight: $_font-weight;
}

.table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
}

.content {
    width: 100%;
    text-align: left;
    padding-right: 1em;
}

.value {
    text-align: right;
}
