$_badge-height:    55px;
$_header-height:   100px;
$_big-font-size:   23px;
$_small-font-size: 16px;
$_margin:          10px;

.badge {
    height: $_badge-height;
    margin: $_margin;
}

.version {
    margin-top: $_margin;
    font-size: $_small-font-size;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $_header-height;
}

.detail {
    margin: $_margin;
}

.title {
    font-size: $_big-font-size;
}
