html, body {
  height: 310px;
  width: 250px;
  margin: 0;
  background-color: #fff;
  font-family: helvetica;
}

a {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  color: #333333; 
  outline: 0;
}

a:hover, a:focus {
  color: #ffffff;
  background-color: #B1B1B1;
  outline: 0;
}

.popup-http {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
/*Styles for the Privacy Pass title */
	font-size: 25px;
  color: #333333;
  font-weight: normal;
  margin-left: 98px;
  margin-bottom: 2px;
  margin-top: 41px;
}

.button-style {
/*Style for the actual buttons*/
  background-color: #fff;
  color: #333333;
  text-align: left;
  border: none;
  border-top: 1px solid #ddd;
  padding-left: 15px;
  font-size: 14px;
  height: 48px;
  width: 100%;
}

.button-style:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #B1B1B1;
}

.button-style:focus, .button-style:active {
  color: #ffffff;
  background-color: #B1B1B1;
}

.link-out {
  color: #408BC9;
}

#stored {
/*This is the token counter*/
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  background-color: #F4F4F4;
  padding-left: 15px;
  padding-bottom: 13px;
  margin-top: 35px;
  border-top: 1px solid #ddd;
  height: 48px;
}

.header-link {
/*the GitHub link under the title*/
  margin-left: 85px;
}

.footer-link {
  display: inline-block;
  margin-left: 30px;
  margin-top: 8px;
}

#privacypass {
  position: absolute;
  top: 24px;
  left: 25px;
  height: 55px;
}

#tokens {
  float: right;
  padding-right: 15px;
  padding-top: 21px;
}

#passtext {
  float: left;
  padding-top: 21px;
}

